<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <!-- title -->
    <title>Youth Space</title>
</head>

<body>

    <header>
        <!-- Top navbar -->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo"><b>You<span>th</span>       <span>Spa</span>ce</b></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}"><i class="tiny fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li><a href="{{ url_for('get_videos') }}"><i class="tiny fa fa-film " aria-hidden="true"></i> Videos</a></li>
                    <li><a href="#"><i class="tiny fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
                    <li><a href="#"><i class="tiny fa fa-upload" aria-hidden="true"></i> Upload Video</a></li>
                    <li><a href="#"><i class="tiny fa fa-list-alt" aria-hidden="true"></i> Categories</a></li>
                    <li><a href="#"><i class="tiny fa fa-sign-out-alt" aria-hidden="true"></i> Sign Out</a></li>
                    <li><a href="{{ url_for('signin') }}"><i class="tiny fa fa-sign-in-alt" aria-hidden="true"></i> Sign In</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="tiny fa fa-file-alt" aria-hidden="true"></i> Register</a></li>
                    <li><a href="{{ url_for('contact') }}"><i class="tiny fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align"></h4>Youth Space</li>
            <li><a href="{{ url_for('index') }}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="{{ url_for('get_videos') }}"><i class="tiny fa fa-film" aria-hidden="true"></i>Videos</a></li>
            <li><a href="#"><i class="tiny fa fa-user-circle" aria-hidden="true"></i>Profile</a></li>
            <li><a href="#"><i class="tiny fa fa-upload" aria-hidden="true"></i>Upload Video</a></li>
            <li><a href="#"><i class="tiny fa fa-list-alt" aria-hidden="true"></i>Categories</a></li>
            <li><a href="#"><i class="tiny fa fa-sign-out-alt" aria-hidden="true"></i>Sign Out</a></li>
            <li><a href="{{ url_for('contact') }}"><i class="tiny fa fa-sign-in-alt" aria-hidden="true"></i>Sign In</a></li>
            <li><a href="{{ url_for('signin') }}"><i class="tiny fa fa-file-alt" aria-hidden="true"></i>Register</a></li>
            <li><a href="{{ url_for('contact') }}"><i class="tiny fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
        </ul>
    </header>
   
    <section>
        <!-- flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                <h6 class="white center-align"><strong> <i class="tiny fa fa-film"></i>  {{ message }}  <i class="tiny fa fa-film"></i></strong></h6>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
    </section>

   
    
    <main>
    {% block content %}
    {% endblock %}
   </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>