{% extends "base.html" %}
{% block content %}
<div class="center-align"><br>
<i class="fa fa-film fa-spin fa-3x fa-fw red accent-4" aria-hidden="true"></i>
<span class="sr-only"></span>
<i class="fa fa-film fa-spin fa-3x fa-fw indigo accent-3" aria-hidden="true"></i>
<span class="sr-only"></span>
<i class="fa fa-film fa-spin fa-3x fa-fw purple accent-1" aria-hidden="true"></i>
<span class="sr-only"></span>
<i class="fa fa-film fa-spin fa-3x fa-fw pink accent-3" aria-hidden="true"></i>
<span class="sr-only"></span>
<i class="fa fa-film fa-spin fa-3x fa-fw blue accent-1" aria-hidden="true"></i>
<span class="sr-only"></span>
<i class="fa fa-film fa-spin fa-3x fa-fw purple accent-4" aria-hidden="true"></i>
<span class="sr-only"></span>
</div><br>

<div class="responsive dotted">
<div class="right-align"><br>
    <h5 class="glow"><i class="fas fa-download">    Upload videos anytime</i></h5>
</div><br>

<div class="right-align"><br>
    <h5 class="glow"><i class="fas fa-film">    Share your videos to all young people over the world.</i></h5>
</div><br>

    
    <div class="left-align"><br>
        <h5 class="glow"><i class="fas fa-tv">   Watch videos on <span class="brand-logo"><b>You<span>th</span><span>Spa</span>ce</b></span></i>  whenever you want.</h5>
       </div><br>
      
        <div class="right-align"><br>
            <h5 class="glow"><i class="fas fa-sign-in-alt">   Join us now and start sharing your videos today!</i></h5>
        </div><br>
        </div>

    


{% endblock %}